$form-back-color: $wild-sand;

.m-formContainer {
  flex: 1;
  min-height: 100vh;

  padding: 173px 55px 55px;

  background-color: $form-back-color;

  @media screen and (max-width: 450px) {
    padding: 173px 20px 55px;
  }
}
