/* General Spacing */
$xxs: .1875rem; //3px
$xs: .3125rem; //5px
$sm: .625rem; //10px
$md: .9375rem; //15px
$lg: 1.25rem; //20px
$xl: 1.5625rem; //25px
$xxl: 1.875rem; //30px

$section-margin-xs: 2.5rem; // 40px
$section-margin-sm: 4.375rem; // 70px
$section-margin-lg: 5.625rem; // 90px

$paragraph-margin-lg: 2.5rem; // 40px
